{% extends 'base.html' %}

{% block content %}
{% for i in my_music %}
        <div class="track">
            <span class="zapis"><img src="{{ i.music.image.url }}" alt="{{ i.title }}"></span>
            <span class="zapis">
                <p>{{ i.music.title }}</p>
                <p>{{ i.music.author }}</p>
            </span>
            <span class="zapis"><p>{{ i.music.release }}</p></span>
            <span class="zapis"><p>{{ i.music.cat }}</p></span>
            <span class="zapis"><p><audio controls ><source src="{{ i.music.soundfile.url }}"></audio></p></span>
            <span class="zapis">
                <form action="{% url 'myaudio:music_remove' i.music.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Удалить">
                </form>
            </span>
        </div>
        {% endfor %}
{% endblock %}